 .formstyle{
  margin: auto;
  padding: 40px 40px 40px 40px;  
  border: 1px solid #000000;
  border-radius: 5px;
  background: #c25a5a;
  width: 220px;
  display: block;
  margin-top: 180px;
  text-align: center;
}

.labelstyle{
  margin:auto;
  font-family:monospace;
  font-weight: bold;
  font-size: 17px;
}

.inputstyle{
  margin: 5px 0 10px 0;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.fill {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 250; 
  letter-spacing: 2px;
  padding: 10px 35px 9px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(245, 81, 81, 0);
}


